# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
---
# windmill.zuul
zuul_file_executor_logging_conf_manage: true

zuul_file_zuul_executor_service_config_manage: true
zuul_file_zuul_executor_service_config_src: zuul/etc/systemd/system/zuul-executor.service.d/override.conf.j2
zuul_file_zuul_executor_service_manage: true

zuul_service_zuul_executor_enabled: true
zuul_service_zuul_executor_manage: true
zuul_service_zuul_executor_state: started

zuul_executor_ansible:
  - ansible_pip_name:
      - ansible==2.5.15
      - ara
      - openstacksdk
    ansible_pip_virtualenv_python: python3
    ansible_pip_virtualenv: /opt/venv/zuul-ansible/2.5.15
    ansible_pip_virtualenv_symlink: /var/lib/zuul/venv/ansible/2.5
  - ansible_pip_name:
      - ansible==2.6.16
      - ara
      - openstacksdk
    ansible_pip_virtualenv_python: python3
    ansible_pip_virtualenv: /opt/venv/zuul-ansible/2.6.16
    ansible_pip_virtualenv_symlink: /var/lib/zuul/venv/ansible/2.6
  - ansible_pip_name:
      - ansible==2.7.9
      - ara
      - openstacksdk
    ansible_pip_virtualenv_python: python3
    ansible_pip_virtualenv: /opt/venv/zuul-ansible/2.7.9
    ansible_pip_virtualenv_symlink: /var/lib/zuul/venv/ansible/2.7

# openstack.logrotate
logrotate_configs:
  - name: zuul-executor
    log: /var/log/zuul/executor-debug.log /var/log/zuul/executor.log
    options:
      - compress
      - missingok
      - rotate 7
      - daily
      - notifempty

# windmill.ssh
ssh_user_name: zuul
ssh_user_home: /var/lib/zuul

ssh_key_private_dest: "{{ ssh_user_home }}/.ssh/nodepool_id_rsa"
ssh_key_private_content: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  62666166396262313132343662386262666534386236613165363733623765373164373336653332
  6533633066343933333263333833616262313238333430610a313437376563643731313331373665
  34663963373763306263386439343439623364636330623333386437363838663031633563316238
  3633386166656465360a303566346634323536643933353132653538616162366563646364376635
  66663434626165333265623034396265643339333137633263346265633332316566303633356364
  39666339353036636435393662333031396131643366643036343736366163303630363230393131
  65353463633061633336386538366435393166626136393461383837383836333064383836663434
  38343265333638306162666362393730353139653036333066626539373864333836333661666134
  34303536333832366631666436383634383462376566663539653164626362666131653662306133
  30656135353964653665396630656235313562643930616539346462626639373434343731313739
  31653031613331383635633765613536623364353461333439643230363435306536336163326238
  35323533373238323264356364653866653261303036363833383537306563343935353336666630
  36613263303832626363653863333430643231633661376538353165643661393635376665623963
  38376564306262653534663431353065616361346330376232636666663163393136316339343032
  39616563626437393032313139643339313132626431633463363766326339396130613939643862
  65326630336236333262346239393464653865663562633531356231636635346437633465623836
  36613164323466666538646435303362333661616562636431623061646433313063306539316135
  31623732646336363365396230356330386236633832616634653135616339343765323333393964
  61323530306432613639656663626438336365623465383761643234343034663031356238363238
  33396239656530656334373336656162393331656232333461353365376531323130373439343365
  38316562356530376133336234373734623131366238373966346666363936666433323836363638
  37346266313839346365656634373565343233656233333262323139336537373339323262333465
  34616462653565663831333535333361353630343462323839623331353366646234653961633433
  64386665356562313235626130613264646464366566316361396537643362373564383062346166
  61623265343530663134353634633965316530336435306564393065306633666231643062323863
  37383431616131313834323032643362303266343233343238643764323365356535396137363535
  33333131323333336337623430356562656532653630643138316632323930366133343434633433
  33613736326334623730343361393835663135353066353466353766323462643262353735303930
  38653733306164613734386566643265306166323038623134366562636430346365613539363939
  33663537303266336363366666353437353939623762646138323361373638666431386531346236
  61353132306265383061383036396139306332366537313461623261353335313435356337383261
  61643531643637343339363563666561613935383966363037346431393133313965336339346366
  66386634616563386235386236343538653339313161356165636465333663326634343434396637
  39356234383263666366333337336637333630623763353731626139336263383238393465343337
  34383236383036623937393637326233616636613566396134346330313361333965366333323635
  37666463313962653832613761326261663831386238623238653737643039343537333163353432
  39393530333139373866313939343061323832663837393539643532353935626363386434323061
  34396439386662353432356362313132376265333562326435323532613063353964346262333934
  31396233343439613231323264663363323032363439373735313264316163343132646165396632
  33653035613737663135383931396130333138303534386235386238376439636632376261653432
  62613666646564666364616533316264396434343836383261616331623038623735636333653532
  34343332666364353366373365396461666165313638663531623639343266366136653739373262
  61626663616565653235303237613332656132316561326164313564653639356665343131343535
  61643132653462323464343761386632343931613264643663306633393864313933636266616238
  38303465356238323536663063663533306130306561353235303039363961663636373934653161
  62353438343663303439663339353033356136653563666533613837343561313039323234633834
  32653833373265626332386233343032626435386332643966373063393866656664356436376338
  30396137646630393632633464313036356331373262663633353964626138646635373162313831
  37633034333239323765643032383361353238643665666337393739386430626465313239363766
  31616637313765623863646134323431626162303137623261633631386265383838643432336632
  61663834636134373733316238663663643831306664633439336531346264343034656664663333
  65303333343033656131373832643362303866343562393764396638396463353263326336313432
  37386663393133373934666533643963376663343666333633376630313037303138353535616163
  37643536393365393265343039313164613232623230303235623765356237373831323937313038
  66376265353431623933626533316435623564326666643930663330633263613231373333643935
  37373938336634666535353931613263306639663133383835323965393339333037353035613236
  33666166623365633139326233666665626136376163633834353033333865623464353064316432
  62623739306230396165386462326566656361386638653038643837373564313539333036646530
  36323037396331626638353061376632333063323461656461346565333336313836323334343938
  66646265363064613166623131386636663265376332383861373730373632633732393831336331
  35366535383465633238653463383638376661396663306638653039386532633330623930633232
  66646562333838356136343562373730626630356266666438306433656436343663386631626233
  31363365373635373066363661316334656664633232396437393336643961663661306536633930
  38646464363530333033653833653135616632663462336439333836343361313533623162343939
  36633632616233646666636662393736313531653532373839633766333163363566303263363134
  65396232623663336338383432363137623938643933623265626131333636346139343364323966
  66656162633033363963636433333634666633643638643330623530623536356561656537663166
  31383461653733353832333832346464376237363439613037313037356330356233376235643066
  38316331366138343532303631376135333334383766346666316330333130373836643430346335
  66623263343166626433336466393165306536353363323136623635373634346631373665383339
  39636231663464313435306133633164616166336238386533653964373165346361653064363632
  33356132643035323430623535666465353064336564333431353436663637336262363066663731
  37393163343734303733653938366136623133366436626664643161613739613231376338316436
  38623534616362616366663430393764313432373337386166663066663638643631306666313434
  61646364643637313566313339643832363531353735396135336431303736386339386536313437
  34323764653661336435633838663633663737666233626538633434353064323831656166366461
  65366430616161623233626431353131373061316361636266653633636534366136336532376464
  35663461616438653434636538356438326463383430383031643162373461353564666465366265
  61613431376135343733386464613366333638386231616632386362346161653636393363373766
  63663765323064613966323233653565303061333162336365353262306166613566353363663136
  66326365613562663437616132663832336336393263333131636264323465656465643166386538
  34383338373930313930623938373937303164353430316434366637663333623261623061306436
  63623533626332393939643332626133376532346365383730393330323035363235343039333836
  31323438643431663564636339613030613362303635396437343636626436306338356162313564
  35623665613138303334636632333439346530343038646337306664383136343139353965623634
  65383638323362303263386638643930303366353034653739653361303634353233386437323732
  64643131393530623230333031366436326162393331303635623466343531333262363939393461
  62306362346232393833346237363231616434623163666363383065366437336366306132613337
  66366134646266346664356361616461373064396437613162333138616463346338666535623365
  39636337343134333166333331653638323431646166653737663937643661346135313939663764
  31303533633833393162623365396136633263326266366363353530636434663263313661393639
  61653934333337623765303235663737666262303166613538383135643930396131336463363032
  64356237643231636163333930616235366537653638366665376230393732613065613134643361
  62326665343832616130316266343338383639663966343533633032396632396231363361643362
  63363366663365633536346363393938626433613965633463363131373761613762666634366261
  38653635383565303138376339373365363330366332333561363831366662663133373433396364
  39376664366266393163353662663935626231323534646636643932633762396330363234383937
  64626365633939343763656235373439616230656166383933323439313838666339393865373461
  33633532656232343334376439373736336662346431333832303161313036376163373131366633
  32303164383962653237323461636461643433646234376538313532653733653732656535373635
  63646433333234643134643165623534356132373831616338393739613830633832663636313635
  38343035323765306562376138306530653434386465386561353936623461376130626666356531
  65343530393930346338333239306162346162313731303334363963643237396235663538343130
  30323963633635613432356633306233303965316662303439316264366539353733336134303237
  62323333626538666465663734663539623139323337313437643133313265613966353739376236
  38353464303266306530323337636430343930353331346135616231643533643038393664643961
  30663763646663366361616239313766613235663964353762363161353231656431616661376230
  32323830636461663333343462623666633331313264326332613631363633383533323637386133
  34653265613632386534343439663362306634663732343432353530623963326137303865383632
  33373965373930653364333535383633376135383136333234393266663736356136316233613464
  33633437336265363737393661366161353239656338396335373539346166663964303962623438
  37616530613966333262653733643363666236656530366537616534316235356632653465363937
  65373133326363616239383339316133653965656531363465323134343038626233386631343464
  30643532323961643365333639636161393137333137393862616335633634376331643462386539
  35373164346334366239653961356233393965653762316632353336356631383636653838376535
  33613334396638343966396166313564363335303635303034393662643438646366326137393562
  39636431663262663435373933613463613265616166613035623038376134303465333266353362
  39646462366664363033373739633936356262333033656333636430366665623163656432383634
  64616432646366326664633930303864386435373231613562313133313431326339323436343039
  36393532643837353334366139663832633062613663653762623934316364613436326337653065
  30343462343262663636616639643339336133366332386136663031353736343932343332386531
  61343066306364653931333534376530666534333330336361633634306233333766646434346639
  31303561633333666666303638646234363061316665393738643338623162326432646636376666
  34616233323836393363393363396663636462396333653663653030643535353139346537306134
  62333761303338386530633363653163666532633664643261393863636131363562633830666538
  63363964333632333037343136363465336632643535393637656234313337663730303233383536
  63313539643133396237616639356662383237613566626365393835373264383631393234336237
  31346236366366303063353662613862353536373464663566633865333566373733666264356633
  36653734613431353835376264333939666335323434353235373566666139666164333036346332
  62623838396437656635633432653038313633356631646166336234313437393733363632313862
  39646539383432666562323034386431653561386531633435323533343537613736396530366632
  65653364616431666438623634323165393665346234383335646233346538326238633638383735
  62356234613338626338376238643931643462333834623635663866663139626534653465353033
  31393863336263393139613161363661376265333361643135323436346537663563323130643435
  61383338333836663330313339323465326663393031353061613236666539396166353831313564
  33353961643031313662623338323034333736613563346535653433386563366466303035313335
  64393831613966653866383237666636343731326530363064616362663765336430323065643436
  32323663383930373261343230393366353264386432306464663564663431616662383766356230
  34646664626137353533636431343562636465353432666337643339396539316165303763663237
  30303738313539366430663536306634313962653433653336376265383934343265323532353633
  64383062313463313536306133663335663762346330636562333437613166343362663930386664
  33363163303861366434616538663032386432623366306637356131366264636461633835646438
  36613239643063376134363433636461643266346462396430306230613462373661393661313464
  65666239306633393365663333623639666466663861663037323035366235633662366331306361
  36313666666463363261353439333763333831386364303466376632633939653737396462363066
  34326435376132656636353637633035323935373865666662623030623032656130346138626637
  36366263306137323964613734386333653934303535373564396361633435326430303136333630
  39636463613062656333363433653535313536633934363466623962353563346435316335323761
  38386133343532323737643034646635653131323533356462303966333962313037376561656262
  61313736643139656638653231313361383034666566616463386439346436346630323261303865
  33656562336261396466383462633832646634366131313134363430633134313661303938303031
  36383763633964373032643138653263313939633031326134343565313462363566663431653661
  30303533623738346664653861303961363830663636623330313134646431333135346661323138
  64373533643436633232363835333261646631326166616535326637633035393933663363316264
  34633166386164666635613537626530623337313966373165616532663835663063303461353938
  64313030656462653166346635346664643064613062376432653035346563326133376539393631
  33313231353766623534333934326261653032666261396437646537376439333963393164373439
  33373330353236326133316361383632646566373334333139373136326235343233386639663538
  39383530353938396239643864656461633939616134376632623565643366336364646232353434
  61353432636566663335356335343765393538393239396339643866623037313136326265363933
  63333665353232656362393139383534323165353035363732306430636335343533313739313335
  35393964303261313966616337623637386232633831306531313365376134326238613034316261
  64656335306333633763383535623838613033386166373630653532306436646663663264346366
  65343133653234336162386666316237376232343665306631336231663639306465393139653364
  35363933366435303362623531356665313936393262653635383030646630633631383630373862
  3739633064636164633937323830346634383933633530353961

iptables_allowed_hosts:
  # zuul-executor
  - address: zw01.sjc1.vexxhost.zuul.ansible.com
    protocol: tcp
    port: 7900
